Code
GalaxyBudsClient/GalaxyBudsClient/NetSparkleUpdater
Google/AndroidStudio2021.3
Unknown Organization
Android Open Source Project
cef_user_data/Dictionaries
coc
compiz-1/compizconfig
composer
dconf
discord
enchant
evolution/sources
ghc
github-copilot
gnome-control-center/backgrounds
google-chrome
gpick
gtk-3.0
gtk-4.0
ibus/bus
lazygit/state.yml
nautilus
nvim
pulse
psysh
qBittorrent
spicetify
simple-update-notifier
spotify
swi-prolog/dir-history
systemd/user
tabby
touchegg
yelp
.gsd-keyboard.settings-ported
gnome-initial-setup-done
mimeapps.list
monitors.xml
monitors.xml~
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
zoom.conf
zoomus.conf
GIMP/2.10/brushes
GIMP/2.10/filters
GIMP/2.10/internal-data
GIMP/2.10/tool-options
GIMP/2.10/action-history
GIMP/2.10/colorrc
GIMP/2.10
KDE
NvChad
Ryujinx
VirtualBox
akonadi
auth0
autostart
balena-etcher
bluetuith
configstore
dlv
doom
emacs
evolution
gh
gh-dash
gnote
goa-1.0
gtk-2.0
htop
htop
htop
htop/htoprc
htop
htop
hypr
i3
kde.org
kdeconnect
kdedefaults
khtml
libaccounts-glib
libreoffice/4/user
media-controls/cache
menus
mozc
ngrok
omf
omf
pgadmin
pgadmin4
picom
polaris
session
sidekick
sublime-text-3
test
tg
totem
trackma
xsettingsd
QtProject.conf
Trolltech.conf
akonadi-firstrunrc
akonadi-migrationrc
akonadi_akonotes_resource_0rc
akonadi_contacts_resource_2rc
akonadi_ical_resource_0rc
akonadi_indexing_agentrc
akonadi_maildir_resource_0rc
akregatorrc
background
bluedevilglobalrc
dolphinrc
emaildefaults
emailidentities
gtkrc
gtkrc-2.0
gwenviewrc
ibus-mozc-gnome-initial-setup-done
kactivitymanagerd-statsrc
kactivitymanagerdrc
katerc
kateschemarc
katevirc
kcminputrc
kconf_updaterc
kded5rc
kdeglobals
kglobalshortcutsrc
khotkeysrc
kmail2rc
kmixrc
konq_history
konquerorrc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwinrc
kwinrulesrc
kxkbrc
okularpartrc
okularrc
pimdataexporterrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
specialmailcollectionsrc
spectaclerc
systemsettingsrc
webengineurlinterceptoradblockrc
glab-cli/congfig.yml
glab-cli/config.yml
JetBrains/Fleet
Vampire_Survivors
Vampire_Survivors_329966438
Vampire_Survivors_Data
astro
chromium/Crash Reports
create-next-app-nodejs
gammastep
hardhat-nodejs
nvim-rewrite
nvim-vscode
obsidian/Cache/Cache_Data
obsidian/Code Cache
obsidian/Crashpad
obsidian
sao-nodejs
sql-language-server
tmux/plugins
libreoffice/4
nextjs-nodejs
fish/fish_variables
Bitwarden CLI
Google/AndroidStudio2022.3
JetBrains/WebStorm2023.2
StardewValley
animdl
cef_user_data/WidevineCdm
environment.d
eog
microsoft-edge
GNOME-xdg-terminals.list
discoverrc
dleyna-server-service.conf
kfontinstuirc
konsolerc
plasmarc
ubuntu-xdg-terminals.list
xdg-terminals.list
glab-cli
forge
hangar-18
pip
pop-shell
tiling-assistant
vscode
wpaperd
wofi
gedit
gem
wpaperd
wofi
gedit
gem
foot
fisher
neofetch
tiling-assistant
.wrangler
Code - OSS
Kvantum
Thunar
VSCodium
archlinux-logout
archlinux-tweak-tool
arcolinux-logo
arcolinux-welcome-app
awesome
conky
fish/config.fish.bak
fontconfig
gSnap
galculator
nano
nomacs
paru
plank/dock1/launchers
polybar
qt5ct
sublime-text/Local
variety
volumeicon
xfce4
xremap
dleyna-renderer-service.conf
yad.conf
